<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="com.dwu.donut.dao.mybatis.mapper.DonationMapper">

	<select id="selectDonationItem" resultType="Donation">
		SELECT DONATION_ID,
				USER_ID,
				DONATION_DATE,
				DONATION_MATCHING_STATE, 
				ALBUM_ID,
				DONATION_ALBUM_QUANTITY,
				DONATION_CONTENT
		FROM DONATION
		WHERE DANATION_ID = #{donationId}
	</select>
	
	<select id="selectDonationList">
		SELECT *
		FROM DONATION
	</select>
	
	<update id="updateDonation">
		UPDATE DANATION SET
			ALBUM_ID,
			DONATION_ALBUM_QUANTITY,
			DONATION_CONTENT
		WHERE DONATION_ID = #{donationId}
	</update>
	
	<insert id="insertDonation">
		INSERT INTO DONATION
			(DONATION_ID, USER_ID, DONATION_DATE, DONATION_MATCHING_STATE, ALBUM_ID, DONATION_ALBUM_QUANTITY, DONATION_CONTENT)
		VALUES
			(#{donationId}, #{userId}, #{donationDate}, #{donationMatchingState}, #{albumId}, #{donationAlbumQuantity}, #{donationContent})
	</insert>
	
	<delete id="deleteDonation">
		DELETE FROM DONATION
		WHERE DONATION_ID = #{donationId}
	</delete>

</mapper>